# PostgreSQL 
DB_USER=
DB_PASSWORD=
DB_NAME=
REDIS_PASSWORD=

# JWT 
SECRET_KEY= # replace it with your 32 bit secret key, in terminal: openssl rand -hex 32
ALGORITHM=HS256 # encryption algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30